<div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="full-height overlayed-sm-and-down">

    <div class="sticky-alerts"></div>

    <dcg dcg-temp="navbar" dcg-tren></dcg>

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

    <dcg dcg-temp="sidebar" dcg-tren></dcg>

    <div class="content-wrapper">
        <div class="container-fluid">
            {{dash.content}}
        </div>
    </div>

</div>

<script src="assets/js/jquery/jquery.js"></script>
<script src="assets/js/jquery/ui.js"></script>
<script src="assets/js/jquery/validate.js"></script>
<script src="assets/js/jquery/visibility.js"></script>
<script src="assets/js/halfmoon.js"></script>
<script src="assets/js/chart/chart.js"></script>
<script src="assets/js/chart/datalabels.js"></script>
<script src="assets/js/chart/loader.js"></script>
<script>
Chart.plugins.register(ChartDataLabels);
chartLoader.render();
</script>