<div class="sidebar">
    <div class="sidebar-menu">

        <a href="#" class="sidebar-brand">{{sidebar.header}}</a>
        <dcg dcg-if="'{{$file}}' == 'map.php'">
            <br />
        </dcg>
        <dcg dcg-if="'{{$file}}' != 'map.php'">
            <div class="sidebar-content">
                <div class="input-group d-flex d-md-none">
                    <input id="sideSearch" type="text" class="form-control" placeholder="{{sidebar.search}}">
                    <div class="input-group-append">
                        <button class="btn" type="button" onclick="searchMap()"><i class="icon search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </dcg>

        <dcg dcg-repeat="sidebar.menus as menu">
        <dcg dcg-if="'{{menu.type}}' == 'link'">
            <a dcg:class="sidebar-link {{menu.class}}" dcg:href="{{menu.href}}">{{menu.name}}</a>
        </dcg>

        <dcg dcg-if="'{{menu.type}}' == 'title'">
            <dcg dcg-if="{{menu._index}} != 0">
            <br />
            </dcg>
            <h5 class="sidebar-title">{{menu.name}}</h5>
            <div class="sidebar-divider"></div>
        </dcg>
        </dcg>
    </div>
</div>